Source: sundials
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Christophe Trophime <christophe.trophime@lncmi.cnrs.fr>,
 Sylvestre Ledru <sylvestre@debian.org>, James Tocknell <aragilar@gmail.com>
Standards-Version: 3.9.8
Section: libs
Build-Depends: debhelper (>= 9), cmake, gfortran, libblas-dev | libblas.so,
 liblapack-dev | liblapack.so
Homepage: http://www.llnl.gov/CASC/sundials/
Vcs-Git: git://anonscm.debian.org/debian-science/packages/sundials.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-science/packages/sundials.git

Package: libsundials-serial
Architecture: any
Multi-Arch: same
Depends: libsundials-cvode3, libsundials-cvodes4, libsundials-ida4,
 libsundials-idas2, libsundials-arkode2, libsundials-kinsol3,
 libsundials-nvecserial1, ${misc:Depends}
Conflicts: libsundials-serial0
Replaces: libsundials-serial0
Description: SUit of Nonlinear and DIfferential/ALgebraic equation Solvers
 The family of solvers referred to as SUNDIALS consists of solvers CVODE
 (for ODE systems), CVODES (ODE with sensitivity analysis capabilities),
 IDA (for differential-algebraic systems), and KINSOL (for nonlinear
 algebraic systems).
 .
 This package depends on all other packages containing the shared
 libraries for the subcomponents of SUNDIALS: CVODE, CVODES, IDA,
 KINSOL, and NVECTOR_SERIAL.

Package: libsundials-cvode3
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ordinary differentialequation solver (SUNDIALS library)
 This package contains the library for ordinary differential equation
 (ODE) system solvers from SUNDIALS (SUit of Nonlinear and
 DIfferential/ALgebraic equation Solvers).

Package: libsundials-cvodes4
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: ODE solver with sensistivity analysis (SUNDIALS library)
 This package contains the library for ordinary differential equation
 (ODE) system solver with sensistivity analysis capabilities from
 SUNDIALS (SUit of Nonlinear and DIfferential/ALgebraic equation
 Solvers).

Package: libsundials-ida4
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: differential-algebraic system solver (SUNDIALS library)
 This package contains the library for differential-algebraic system
 (IDA) solver from SUNDIALS (SUit of Nonlinear and
  DIfferential/ALgebraic equation Solvers).

Package: libsundials-idas2
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: IDA solver with sensitivity capabilities (SUNDIALS library)
 This package contains the library for differential-algebraic system
 with Sensitivity capabilities (IDAS) solver from SUNDIALS (SUit of 
 Nonlinear and DIfferential/ALgebraic equation Solvers).
 
Package: libsundials-kinsol3
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: KINSOL solver (SUNDIALS library)
 This package contain the library for KINSOL (nonlinear algebraic
 systems) system solver from SUNDIALS (SUit of Nonlinear and
 DIfferential/ALgebraic equation Solvers).

Package: libsundials-arkode2
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: ordinary differential equation solver (SUNDIALS library)
 This package contains the library for ordinary differential equation
 (ODE) system solvers from SUNDIALS (SUit of Nonlinear and
 DIfferential/ALgebraic equation Solvers).

Package: libsundials-nvecserial1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: vector operations library (SUNDIALS library)
 This package provides implementations for all vector operations
 defined by the generic NVECTOR module in the table of operations for
 SUNDIALS (SUit of Nonlinear and DIfferential/ALgebraic equation
 Solvers).

Package: libsundials-serial-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsundials-serial (= ${binary:Version}), ${misc:Depends},
 libblas-dev | libatlas-base-dev | libopenblas-dev,
 liblapack-dev | libatlas-base-dev
Description: SUNDIALS development files
 The family of solvers referred to as SUNDIALS (SUit of Nonlinear and
 DIfferential/ALgebraic equation Solvers) consists of solvers CVODE
 (for ODE systems), CVODES (ODE with sensitivity analysis capabilities),
 IDA (for differential-algebraic systems), and KINSOL (for nonlinear
 algebraic systems).
 .
 This package contains files necessary for development applications using
 SUNDIALS in C and, in case of FCVODE and FKINSOL, Fortran.  It also
 contains various example programs distributed by the upstream authors.

Package: libsundials-serial-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Recommends: libsundials-serial-dev
Description: SUNDIALS documentation files
 The family of solvers referred to as SUNDIALS (SUit of Nonlinear and
 DIfferential/ALgebraic equation Solvers) consists of solvers CVODE
 (for ODE systems), CVODES (ODE with sensitivity analysis capabilities),
 IDA (for differential-algebraic systems), and KINSOL (for nonlinear
 algebraic systems).
 .
 This package contains SUNDIALS documentation.
