#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

debusr := $(DEB_DESTDIR)usr

DEB_CONFIGURE_EXTRA_FLAGS := --enable-shared --disable-mpi --disable-examples
DEB_MAKE_INSTALL_TARGET := install prefix=$(debusr)

install/libsundials-serial0::
	mkdir -p $(debusr)/lib
	mv $(debusr)/lib*.* $(debusr)/lib

clean::
	rm -rf `find . -name .libs -o -name \*.o` libtool
